html,
body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    color: #ffffff;
    margin: 0;
}

.nav_panel {
    width: 100vw;
    background-color: #303030;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    height: 154px;
}

a {
    position: relative;
    color: #ffffff;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

a:after {
    display: block;
    position: absolute;
    margin-top: 5px;
    left: 0;
    width: 0;
    height: 3px; 
    background-color: #ffffff;
    content: "";
    transition: width 0.3s ease-out;
}

a:hover:after,
a:focus:after {
    width: 100%;
}

img {
    width: 140px;
    height: 102px;
    margin-left: 18px;
}

.svg_nav_panel {
    width: 34px;
}

.blur {
    filter: blur(2px);

}

.blur::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 760px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.first_block {
    height: 760px;
    background-image: url("/images/i.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}