html,
body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    color: #ffffff;
    margin: 0;
}

.nav_panel {
    background-color: #303030;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    height: 154px;
}

.numbers {
    color: #D14A51;
}

.numbers_image {
    width: 35px;
    height: auto;
}

a {
    position: relative;
    color: #ffffff;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

a:after {
    display: block;
    position: absolute;
    margin-top: 5px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #ffffff;
    content: "";
    transition: width 0.3s ease-out;
}

a:hover:after,
a:focus:after {
    width: 100%;

}

a:hover {
    text-shadow: 0 0 2px #ffffff;
}

img {
    width: 140px;
    height: 102px;
    margin-left: 10px;
}

.svg_nav_panel {
    width: 34px;
    height: auto;
}

.first_block {
    padding-top: 10px;
    height: 760px;
    background-image: url("/images/i.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

button {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-size: 27px;
    color: #ffffff;

    border: 1px, solid;
    border-radius: 22.78px;
    background: #D14A51;
    border-color: #D14A51;
    width: 291px;
    height: 77px;

    margin-left: 45px;
    margin-top: 64px;

}

.text {
    position: absolute;
    font-size: 20px;
    border: 0px, solid;
    border-radius: 22.78px;
    background: linear-gradient(140deg,
            #333230 45%,
            #4a4a4a00 100%);
    margin-left: 500px;
    margin-top: 40px;
    padding-left: 30px;
}

.second_block {
    display: flex;
    justify-content: center;
    height: 760px;
    background: linear-gradient(#383838 0%,
            #202020 23%);
}

.third_block {
    display: flex;
    justify-content: center;
    height: 760px;
    background: linear-gradient(#383838 0%,
            #202020 23%);
}

.head {
    position: absolute;
    display: flex;
    gap: 600px;
}


.car-selector {
    display: flex;
    flex-direction: row;
    gap: 2r5px;
    margin-top: 200px;
}

.car {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 22.78px;
    border: #ffffff, solid, 0px;
    background: linear-gradient(140deg,
            #333230 45%,
            #4a4a4a00 100%);
    font-size: 22px;
    font-weight: 400;
    height: 409px;
    width: 364px;
}

.cars {
    width: 327px;
    height: 236px;
    border-radius: 22.78px;
    margin: 0;
    margin-top: 17px;

}

.car_top_text {
    margin-top: 20px;
}

.car_bottom_text {
    margin-top: 12px;
    font-weight: 300;
    color: #8E8C8C;
}

hr {
    margin: 0px;
    transform: none !important;
    writing-mode: horizontal-tb !important;
    width: 80% !important;
    height: 2px !important;
    border: 0;
    border-top: 1px solid #ffffff;
    margin-left: 10%;
    position: absolute;

}

.sheme {
    display: inline;
    position: absolute;
    margin-top: 22px;
    padding: 10px;
    border: #ffffff, solid, 0px;
    border-radius: 22.78px;
    background: linear-gradient(-90deg,
            #202020 45%,
            #2C2C2C 100%);
    height: 65px;
    width: 90vw;
}

.sheme_block {
    position: relative;
    font-size: 15px;
    font-weight: 300;
    border: #ffffff, solid, 0px;
    border-radius: 22.78px;
    background: linear-gradient(-90deg,
            #202020 45%,
            #2C2C2C 100%);
    padding: 20px;
    height: 189px;
    width: 304px;
}

.sheme_block h3 {
    font-weight: 500;
    margin-top: 0;
}

.sheme_block p {
    margin-bottom: 0;
    height: 100px;
}

.sheme_block_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 колонки */
    gap: 20px;
    /* Расстояние между блоками */
    max-width: 800px;
    /* Ограничение ширины сетки */
    margin: 0 auto;
    /* Центрирование сетки */
}

.sheme_block_second {
    position: relative;

    font-size: 15px;
    font-weight: 300;
    border: #ffffff, solid, 0px;
    border-radius: 22.78px;
    padding: 20px;
    height: 189px;
    width: 304px;
}

.sheme_car {
    width: 456px;
    height: 189.65px;
}